## Step 1: Data Curation

+ `wget kaggle_user_data_link` with a little bit of hacking (found the downloadable route in chrome browser)
+ the above won't work in usual way because of the network interruption issues (applicable only to large file)
+ uploaded data to dropbox to share with teammate
+ able to load data directly into working space (my playground)

In [11]:
import pandas as pd
import warnings; warnings.simplefilter('ignore')
news_train_dir = "./new_train_df.csv"
news_train_df = pd.read_csv(news_train_dir)

In [15]:
news_train_df.shape

(9328750, 36)

In [4]:
market_train_df.shape

(4072956, 16)

In [7]:
news_train_df.shape

(9328750, 35)

## `get_prediction_days` function

Generator which loops through each "prediction day" (trading day) and provides all market and news observations which occurred since the last data you've received.  Once you call **`predict`** to make your future predictions, you can continue on to the next prediction day.

Yields:
* While there are more prediction day(s) and `predict` was called successfully since the last yield, yields a tuple of:
    * `market_observations_df`: DataFrame with market observations for the next prediction day.
    * `news_observations_df`: DataFrame with news observations for the next prediction day.
    * `predictions_template_df`: DataFrame with `assetCode` and `confidenceValue` columns, prefilled with `confidenceValue = 0`, to be filled in and passed back to the `predict` function.
* If `predict` has not been called since the last yield, yields `None`.

In [15]:
# You can only iterate through a result from `get_prediction_days()` once
# so be careful not to lose it once you start iterating.
days = env.get_prediction_days()

In [16]:
(market_obs_df, news_obs_df, predictions_template_df) = next(days)

Exception: You can only call `get_prediction_days` once.

In [24]:
market_obs_df.head(10)

                       time           ...           returnsOpenPrevMktres10
0 2017-01-03 22:00:00+00:00           ...                          0.001985
1 2017-01-03 22:00:00+00:00           ...                               NaN
2 2017-01-03 22:00:00+00:00           ...                         -0.015277
3 2017-01-03 22:00:00+00:00           ...                          0.011201
4 2017-01-03 22:00:00+00:00           ...                         -0.010078
5 2017-01-03 22:00:00+00:00           ...                          0.002888
6 2017-01-03 22:00:00+00:00           ...                          0.014276
7 2017-01-03 22:00:00+00:00           ...                          0.019393
8 2017-01-03 22:00:00+00:00           ...                          0.016566
9 2017-01-03 22:00:00+00:00           ...                          0.018003

[10 rows x 14 columns]

In [25]:
news_obs_df.head(10)

                       time      ...       volumeCounts7D
0 2016-12-30 22:00:02+00:00      ...                    0
1 2016-12-30 22:00:02+00:00      ...                    0
2 2016-12-30 22:00:06+00:00      ...                    0
3 2016-12-30 22:00:06+00:00      ...                    2
4 2016-12-30 22:00:17+00:00      ...                    1
5 2016-12-30 22:00:30+00:00      ...                    3
6 2016-12-30 22:00:30+00:00      ...                    1
7 2016-12-30 22:00:39+00:00      ...                    1
8 2016-12-30 22:00:39+00:00      ...                    5
9 2016-12-30 22:01:01+00:00      ...                    2

[10 rows x 35 columns]

In [22]:
predictions_template_df.head()

  assetCode  confidenceValue
0       A.N              0.0
1      AA.N              0.0
2     AAL.O              0.0
3     AAN.N              0.0
4     AAP.N              0.0

Note that we'll get an error if we try to continue on to the next prediction day without making our predictions for the current day.

In [ ]:
next(days)

### **`predict`** function
Stores your predictions for the current prediction day.  Expects the same format as you saw in `predictions_template_df` returned from `get_prediction_days`.

Args:
* `predictions_df`: DataFrame which must have the following columns:
    * `assetCode`: The market asset.
    * `confidenceValue`: Your confidence whether the asset will increase or decrease in 10 trading days.  All values must be in the range `[-1.0, 1.0]`.

The `predictions_df` you send **must** contain the exact set of rows which were given to you in the `predictions_template_df` returned from `get_prediction_days`.  The `predict` function does not validate this, but if you are missing any `assetCode`s or add any extraneous `assetCode`s, then your submission will fail.

Let's make random predictions for the first day:

In [ ]:
import numpy as np
def make_random_predictions(predictions_df):
    predictions_df.confidenceValue = 2.0 * np.random.rand(len(predictions_df)) - 1.0

In [ ]:
make_random_predictions(predictions_template_df)
env.predict(predictions_template_df)

Now we can continue on to the next prediction day and make another round of random predictions for it:

In [ ]:
(market_obs_df, news_obs_df, predictions_template_df) = next(days)

In [ ]:
market_obs_df.head()

In [ ]:
news_obs_df.head()

In [ ]:
predictions_template_df.head()

In [ ]:
make_random_predictions(predictions_template_df)
env.predict(predictions_template_df)

## Main Loop
Let's loop through all the days and make our random predictions.  The `days` generator (returned from `get_prediction_days`) will simply stop returning values once you've reached the end.

In [ ]:
for (market_obs_df, news_obs_df, predictions_template_df) in days:
    make_random_predictions(predictions_template_df)
    env.predict(predictions_template_df)
print('Done!')

## **`write_submission_file`** function

Writes your predictions to a CSV file (`submission.csv`) in the current working directory.

UsageError: Line magic function `%hostname` not found.

In [28]:
pwd

'/kaggle/working'

In [27]:
ls -a

./  ../  .ipynb_checkpoints/  __notebook_source__.ipynb

In [ ]:
env.write_submission_file()

In [ ]:
# We've got a submission file!
import os
print([filename for filename in os.listdir('.') if '.csv' in filename])

As indicated by the helper message, calling `write_submission_file` on its own does **not** make a submission to the competition.  It merely tells the module to write the `submission.csv` file as part of the Kernel's output.  To make a submission to the competition, you'll have to **Commit** your Kernel and find the generated `submission.csv` file in that Kernel Version's Output tab (note this is _outside_ of the Kernel Editor), then click "Submit to Competition".  When we re-run your Kernel during Stage Two, we will run the Kernel Version (generated when you hit "Commit") linked to your chosen Submission.

## Restart the Kernel to run your code again
In order to combat cheating, you are only allowed to call `make_env` or iterate through `get_prediction_days` once per Kernel run.  However, while you're iterating on your model it's reasonable to try something out, change the model a bit, and try it again.  Unfortunately, if you try to simply re-run the code, or even refresh the browser page, you'll still be running on the same Kernel execution session you had been running before, and the `twosigmanews` module will still throw errors.  To get around this, you need to explicitly restart your Kernel execution session, which you can do by pressing the Restart button in the Kernel Editor's bottom Console tab:
![Restart button](https://i.imgur.com/hudu8jF.png)